.ivy-exchange-logo-transparent2 {
  position: relative;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.home3 {
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.logo-and-home1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.search-here {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.vuesaxlinearsearch-normal-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
}
.left-side-menu,
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.search-bar {
  border-radius: var(--br-981xl);
  background-color: var(--light-theme-searchbar-background);
  width: 523px;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size-sm);
  color: var(--light-theme-placeholder-text);
}
.left-side-menu {
  height: 40px;
  gap: var(--gap-46xl);
}
.interface-heart-011 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.notif-theme {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.profile-picture-icon {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.profile-picture {
  justify-content: flex-start;
}
.master-navbar,
.profile-picture,
.right-side-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-side-menu {
  width: 184px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--gap-5xl);
}
.master-navbar {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--light-theme-background);
  width: 1920px;
  height: 90px;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-29xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--light-theme-heading-text);
  font-family: var(--font-poppins);
}
