.edit-listing-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.edit-listing-container h1 {
  margin-bottom: 30px;
}

.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.form-container .photo-upload {
  margin-bottom: 20px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container textarea {
  height: 150px;
}

.button-container {
  display: flex;
  gap: 10px; /* Add space between buttons */
  justify-content: flex-end; /* Align buttons to the end of the container */
  align-items: flex-end; /* Align buttons vertically */
  margin-top: 20px; /* Add margin to separate buttons from the form elements */
}

.cancel-button,
.publish-button {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex: 1; /* Make both buttons take equal width */
  height: 40px; /* Set the height for both buttons */
}

.cancel-button:hover,
.publish-button:hover {
  background-color: #bbb;
}

.cancel-button {
  background-color: #ccc; /* Light gray */
}

.publish-button {
  background-color: #4caf50; /* Green */
}
