/* Home.css */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Home.css */
.hero {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layoutWelcomeContainer {
  width: 100%;
  text-align: center; 
  margin-bottom: 20px; 
}

.layoutContainer {
  display: flex;
  justify-content: space-between; 
  width: calc(100% - 40px); 
  margin: 20px; 
}

.layoutFilterContainer {
  width: 20%; 
  min-width: 150px;
  height:auto;
}

.layoutRecommendedProducts {
  width: 75%; 
  height: auto;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0; 
  position: absolute;
  top: 2500px;
}



.pagination .div {
  margin: 0 10px; 
  cursor: pointer;
}

.pagination .selected {
  font-weight: bold;
  text-decoration: underline;
}

.layoutFeaturesContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.layoutFooter {
  width: 100%;
  display: flex;
  justify-content: center;
}
