/* Home.css */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Home.css */
.hero {
  width: 100%;
  padding-top: 90px; /* Adjust this value to match the actual height of your NavBar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layoutWelcomeContainer {
  width: 100%;
  text-align: center; /* Center the text for WelcomeContainer */
  margin-bottom: 20px; /* Add some space below WelcomeContainer */
}

/* Layout for the filter and recommended products */
.layoutContainer {
  display: flex;
  justify-content: space-between; /* Spaces out children */
  width: calc(100% - 40px); /* Adjust for margins */
  margin: 20px; /* This margin ensures a minimum of 20px from the borders of hero */
}

.layoutFilterContainer {
  width: 20%; /* Adjust the width as needed, can be more or less */
  height:auto;
}

.layoutRecommendedProducts {
  width: 75%; /* Adjust the width as needed, should be larger than filter container */
  height: auto;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0; /* Space above and below the pagination */
  position: absolute;
  top: 1900px;
}

/* ... rest of the styles ... */


.pagination .div {
  margin: 0 10px; /* Spacing between pagination numbers */
  cursor: pointer;
}

.pagination .selected {
  font-weight: bold;
  text-decoration: underline;
}

.layoutFeaturesContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.layoutFooter {
  width: 100%;
  display: flex;
  justify-content: center;
}
