.navbar {
  width: 100%;
  min-width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 25px 40px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.left-menu,
.right-menu {
  display: flex;
  align-items: center;
  height: 40px; 
}

.left-menu {
  margin-left: 20px;
  flex-grow: 1;
}

.logo {
  height: 34px;
  width: 34px;
  margin-right: 7px;
}

.brand-name {
  white-space: nowrap; 
  font-size: 16px;
  margin-right: 35px;
}

.searchbar {
  flex-grow: 1;
  background-color: #F5F6F7; 
  height: 40px; 
  border-radius: 20px; 
  border: none; 
  padding-left: 10px; 
}

.right-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  margin-right: 48px;
}

.navbar-icon, .user-icon {
  height: 24px;
  width: 24px;
  margin: 8px 0; 
}

.user-icon {
  height: 40px;
  width: 40px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; 
  position: relative;
}

.searchbar-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 36px; 
  background-color: #f0f0f0; 
  border-radius: 18px; 
  padding: 0 12px; 
  margin-right: 25px; 
}

.search-image {
  height: 24px; 
  margin-right: 8px; 
}

.search-input {
  flex-grow: 1; 
  border: none; 
  outline: none; 
  background-color: transparent; 
  padding: 8px 12px; 
  font-size: 16px; 
}


.search-input:focus {
  border: none;
  outline: none;
}

.search-history {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: white;
  border-radius: 5px;
  width: 90%; 
  z-index: 10;
}

.search-history li {
  padding: 10px;
  cursor: pointer;
}

.search-history li:hover {
  background-color: #f0f0f0;
}



