.navbar {
  width: 100%;
  min-width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 25px 40px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.left-menu,
.right-menu {
  display: flex;
  align-items: center;
  height: 40px; /* Set the height of inner containers */
}

.left-menu {
  margin-left: 20px; /* Space from the left margin */
  flex-grow: 1;
}

.logo {
  height: 34px;
  width: 34px;
  margin-right: 7px;
}

.brand-name {
  white-space: nowrap; /* Prevent wrapping */
  font-size: 16px;
  margin-right: 35px;
}

.searchbar {
  flex-grow: 1;
  background-color: #F5F6F7; /* Gray background */
  height: 40px; /* Set the height */
  border-radius: 20px; /* Curved edges */
  border: none; /* Remove default border */
  padding-left: 10px; /* Add some padding inside the search bar */
  /* Additional styling for the search input if necessary */
}

.right-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px; /* Space between items */
  margin-right: 48px; /* Space from the right margin */
}

.navbar-icon, .user-icon {
  height: 24px;
  width: 24px;
  margin: 8px 0; /* Centered vertically by adding top and bottom margins */
}

.user-icon {
  height: 40px;
  width: 40px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure it takes full width */
  position: relative;
}

.searchbar-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 36px; /* Height of the search bar */
  background-color: #f0f0f0; /* Light grey background */
  border-radius: 18px; /* Half the height to make it fully rounded */
  padding: 0 12px; /* Padding inside the search container */
  margin-right: 25px; /* Space between search container and right-side menu */
}

.search-image {
  height: 24px; /* Assuming the search icon is 24x24 pixels */
  margin-right: 8px; /* Space between the icon and the input */
}

.search-input {
  flex-grow: 1; /* Allows the input to fill the container */
  border: none; /* Removes the border */
  outline: none; /* Removes the outline */
  background-color: transparent; /* Makes the background transparent */
  padding: 8px 12px; /* Top and bottom padding */
  font-size: 16px; /* Sets the font size */
}

/* Make sure the input has no border and the outline is removed when focused */
.search-input:focus {
  border: none;
  outline: none;
}

.search-history {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: absolute;
  top: 100%; /* Position just below the search bar */
  left: 0;
  background-color: white;
  border-radius: 5px;
  width: 90%; /* Match the width of the search bar container */
  z-index: 10; /* Ensure it's above other content */
}

.search-history li {
  padding: 10px;
  cursor: pointer;
}

.search-history li:hover {
  background-color: #f0f0f0;
}



