.box {
  height: 792px;
  width: 1575px;
}

.box .group {
  height: 792px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1575px;
}

.box .overlap {
  height: 792px;
  position: relative;
  width: 1599px;
}

.box .text-field {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #d9d9d9;
  border-radius: 8px;
  color: #000000;
  flex: 1;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 897px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -2px;
  overflow: hidden;
  padding: 12px 16px;
  position: absolute;
  top: 356px;
  width: 360px;
}

.box .overlap-wrapper {
  height: 792px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1599px;
}

.box .overlap-group {
  background-color: #e1f1d8;
  height: 792px;
  position: relative;
  width: 1575px;
}

.box .view-backgrounds {
  height: 684px;
  left: 127px;
  position: absolute;
  top: 54px;
  width: 1303px;
}

.box .account-view {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px #c2c2c229, 0px 0px 30px #aaaaaa29;
  height: 684px;
  left: 529px;
  position: absolute;
  top: 0;
  width: 774px;
}

.box .profile-view {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 30px #aaaaaa29;
  height: 684px;
  left: 0;
  position: absolute;
  top: 0;
  width: 514px;
}

.box .from-buyers-button {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #0000001c;
  border-radius: 11px;
  height: 19px;
  left: 178px;
  position: absolute;
  top: 491px;
  width: 72px;
}

.box .text-wrapper {
  color: #4c535f;
  font-family: "Itim-Regular", Helvetica;
  font-size: 9px;
  font-weight: 400;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 496px;
  width: 77px;
}

.box .titles {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  height: 23px;
  left: 674px;
  position: absolute;
  top: 78px;
  width: 678px;
}

.box .title {
  height: 36px;
  margin-bottom: -13px;
  position: relative;
  width: 179px;
}

.box .frame {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
}

.box .profile-setting-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 12px;
  position: relative;
}

.box .profile-setting {
  color: #472505;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.box .line {
  align-self: stretch;
  height: 2px;
  position: relative;
  width: 100%;
}

.box .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  left: 166px;
  padding: 0px 12px;
  position: absolute;
  top: 461px;
}

.box .div {
  color: #472505;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.box .img {
  height: 3px;
  left: 661px;
  position: absolute;
  top: 300px;
  width: 775px;
}

.box .group-wrapper {
  background-color: #edf1f6;
  border: 1px dashed;
  border-color: #4c535f;
  border-radius: 18px;
  height: 92px;
  left: 684px;
  position: absolute;
  top: 173px;
  width: 112px;
}

.box .group-2 {
  height: 58px;
  left: 15px;
  position: relative;
  top: 16px;
  width: 81px;
}

.box .group-3 {
  height: 58px;
  position: relative;
  width: 83px;
}

.box .text-wrapper-2 {
  color: #4c535f;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 81px;
}

.box .gallery-add {
  height: 25px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 31px;
}

.box .your-profile-picture {
  color: #4c535f;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 663px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 145px;
  width: 150px;
}

.box .text-wrapper-3 {
  color: #8d98aa;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 1024px;
  letter-spacing: 0;
  line-height: 15.7px;
  position: absolute;
  top: 622px;
  white-space: nowrap;
}

.box .group-4 {
  height: 136px;
  left: 686px;
  position: absolute;
  top: 526px;
  width: 699px;
}

.box .overlap-group-2 {
  background-color: #edf1f6;
  border: 1px solid;
  border-color: #e0e4ec;
  border-radius: 8px;
  height: 99px;
  left: 1px;
  position: absolute;
  top: 37px;
  width: 694px;
}

.box .p {
  color: #8d98aa;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 11px;
  font-weight: 500;
  left: 13px;
  letter-spacing: 0;
  line-height: 12.4px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
  width: 332px;
}

.box .text-wrapper-4 {
  color: #4c535f;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 14.6px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 24px;
}

.box .profile-picture {
  height: 84px;
  left: 155px;
  object-fit: cover;
  position: absolute;
  top: 89px;
  width: 90px;
}

.box .button {
  cursor: pointer;
  all: unset;
  box-sizing: border-box;
  height: 31px;
  left: 687px;
  position: absolute;
  top: 680px;
  width: 164px;
}

.box .overlap-2 {
  background-color: #785a0e;
  height: 31px;
  position: relative;
  width: 162px;
}

.box .text-wrapper-5 {
  color: #ffffff;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
  width: 101px;
}

.box .public-profile {
  cursor: pointer;
  height: 27px;
  left: 480px;
  position: absolute;
  top: 65px;
  width: 136px;
}

.box .overlap-3 {
  background-color: #785a0e;
  height: 27px;
  position: relative;
  width: 134px;
}

.box .text-wrapper-6 {
  color: #ffffff;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 100px;
}

.box .text-wrapper-7 {
  color: #000000;
  font-family: "Actor-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 199px;
  width: 261px;
}

.box .from-sellers-button {
  cursor: pointer;
  background-color: #eee6e6e0;
  border: 1px solid;
  border-color: #0000001c;
  border-radius: 11px;
  height: 19px;
  left: 255px;
  position: absolute;
  top: 491px;
  width: 72px;
}

.box .group-5 {
  height: 130px;
  left: 166px;
  position: absolute;
  top: 299px;
  width: 437px;
}

.box .overlap-4 {
  border-radius: 10px;
  height: 100px;
  left: 5px;
  position: absolute;
  top: 30px;
  width: 181px;
}

.box .text-wrapper-8 {
  color: #4c535f;
  font-family: "Itim-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 52px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  width: 77px;
}

.box .text-wrapper-9 {
  color: #000000;
  font-family: "Archivo Black-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 82px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  white-space: nowrap;
  width: 9px;
}

.box .div-2 {
  border: 1px solid;
  border-color: #0000001c;
  border-radius: 10px;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 181px;
}

.box .overlap-5 {
  border-radius: 10px;
  height: 100px;
  left: 248px;
  position: absolute;
  top: 30px;
  width: 181px;
}

.box .text-wrapper-10 {
  color: #4c535f;
  font-family: "Itim-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 74px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  width: 32px;
}

.box .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  left: 0;
  padding: 0px 12px;
  position: absolute;
  top: 0;
}

.box .group-6 {
  height: 44px;
  left: 425px;
  position: absolute;
  top: 105px;
  width: 197px;
}

.box .overlap-6 {
  border-radius: 10px;
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 87px;
}

.box .text-wrapper-11 {
  color: #4c535f;
  font-family: "Itim-Regular", Helvetica;
  font-size: 9px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  width: 43px;
}

.box .text-wrapper-12 {
  color: #000000;
  font-family: "Archivo Black-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 9px;
}

.box .outline-for {
  border: 1px solid;
  border-color: #0000001c;
  border-radius: 10px;
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 87px;
}

.box .overlap-7 {
  border-radius: 10px;
  height: 44px;
  left: 102px;
  position: absolute;
  top: 0;
  width: 87px;
}

.box .text-wrapper-13 {
  color: #000000;
  font-family: "Archivo Black-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 9px;
}

.box .thank-you-for-the {
  color: #505050;
  font-family: "DM Sans-Regular", Helvetica;
  font-size: 9px;
  font-weight: 400;
  left: 223px;
  letter-spacing: 0.07px;
  line-height: 11.7px;
  position: absolute;
  top: 613px;
  width: 166px;
}

.box .rectangle {
  background-color: #e2e2ea;
  border-radius: 4px;
  height: 37px;
  left: 223px;
  position: absolute;
  top: 569px;
  width: 39px;
}

.box .rectangle-2 {
  background-color: #e2e2ea;
  border-radius: 4px;
  height: 37px;
  left: 265px;
  position: absolute;
  top: 569px;
  width: 39px;
}

.box .rectangle-3 {
  background-color: #e2e2ea;
  border-radius: 4px;
  height: 37px;
  left: 308px;
  position: absolute;
  top: 569px;
  width: 39px;
}

.box .rectangle-4 {
  background-color: #e2e2ea;
  border-radius: 4px;
  height: 37px;
  left: 350px;
  position: absolute;
  top: 569px;
  width: 39px;
}

.box .text-wrapper-14 {
  color: #9a9ab0;
  font-family: "DM Sans-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 223px;
  letter-spacing: 0.03px;
  line-height: 7.5px;
  position: absolute;
  top: 540px;
  white-space: nowrap;
  width: 87px;
}

.box .group-7 {
  height: 10px;
  left: 289px;
  position: absolute;
  top: 536px;
  width: 63px;
}

.box .star-2 {
  height: 9px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.box .star-3 {
  height: 9px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 10px;
}

.box .star-4 {
  height: 9px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 10px;
}

.box .star-5 {
  height: 9px;
  left: 39px;
  position: absolute;
  top: 0;
  width: 10px;
}

.box .star-6 {
  height: 9px;
  left: 52px;
  position: absolute;
  top: 0;
  width: 10px;
}

.box .text-wrapper-15 {
  color: #11142d;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 223px;
  letter-spacing: 0.05px;
  line-height: 12px;
  position: absolute;
  top: 535px;
  white-space: nowrap;
  width: 63px;
}

.box .ellipse {
  background-color: #e2e2ea;
  border-radius: 14.5px/13.5px;
  height: 27px;
  left: 184px;
  position: absolute;
  top: 534px;
  width: 29px;
}

.box .text-wrapper-16 {
  color: #4c535f;
  font-family: "Itim-Regular", Helvetica;
  font-size: 9px;
  font-weight: 400;
  left: 255px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 496px;
  width: 77px;
}

.box .text-wrapper-17 {
  color: #4c535f;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 9px;
  font-weight: 500;
  left: 234px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 114px;
  width: 150px;
}

.box .text-wrapper-18 {
  color: #4c535f;
  font-family: "Itim-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 295px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 128px;
  width: 150px;
}

.box .text-wrapper-19 {
  color: #4c535f69;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 9px;
  font-weight: 500;
  left: 450px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 166px;
  white-space: nowrap;
  width: 151px;
}

.box .username {
  color: #000000;
  font-family: "Archivo Black-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 235px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 95px;
  width: 111px;
}

.box .stars-instance {
  height: 18px !important;
  left: 255px !important;
  position: absolute !important;
  top: 127px !important;
}

.box .stars-instance-2 {
  height: 18px !important;
  left: 294px !important;
  position: absolute !important;
  top: 532px !important;
}

.box .icon-email-outline {
  cursor: pointer;
  height: 16px;
  left: 255px;
  position: absolute;
  top: 147px;
  width: 17px;
}

.box .icon-phone {
  cursor: pointer;
  height: 16px;
  left: 275px;
  position: absolute;
  top: 147px;
  width: 17px;
}

.box .label {
  align-self: stretch;
  color: #51515b;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  margin-top: -1px;
  position: relative;
}

.box .text-field-2 {
  background-color: #edf2f6;
  border: 2px solid;
  border-color: #d9d9d9;
  border-radius: 8px;
  color: #000000;
  flex: 1;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 11px;
  font-weight: 500;
  height: 15px;
  letter-spacing: 0;
  line-height: 12.4px;
  margin-bottom: -1px;
  margin-top: -5px;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
  width: 320px;
}

.box .input-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 1060px;
  position: absolute;
  top: 329px;
  width: 360px;
}

.box .input-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 1060px;
  position: absolute;
  top: 370px;
  width: 360px;
}

.box .input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 678px;
  position: absolute;
  top: 329.5px;
  width: 360px;
}

.box .input-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 678px;
  position: absolute;
  top: 421.5px;
  width: 360px;
}

.box .usernameinput {
  left: 0px;
  background: transparent;
  border: none;
  color: #51515b;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19.5px;
  margin-top: -1px;
  padding: 0;
  position: relative;
}
.box .email {
  left: 0px;
  background: transparent;
  border: none;
  color: #51515b;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19.5px;
  margin-top: -1px;
  padding: 0;
  position: relative;
}

.box .fullname {
  left: 0px;
  background: transparent;
  border: none;
  color: #51515b;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19.5px;
  margin-top: -1px;
  padding: 0;
  position: relative;
}
.box .phone {
  left: 0px;
  background: transparent;
  border: none;
  color: #51515b;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19.5px;
  margin-top: 50px;
  padding: 0;
  position: relative;
}

.box .text-field-3 {
  background-color: #edf2f6;
  border: 2px solid;
  border-color: #d9d9d9;
  border-radius: 8px;
  color: #000000;
  flex: 1;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 11px;
  font-weight: 500;
  height: 30px;
  letter-spacing: 0;
  line-height: 12.4px;
  margin-bottom: -1px;
  margin-top: -5px;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
  width: 319px;
}

.box .text-field-4 {
  background-color: #edf2f6;
  border: 2px solid;
  border-color: #d9d9d9;
  border-radius: 8px;
  color: #000000;
  flex: 1;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 11px;
  font-weight: 500;
  height: 31px;
  left: 1031px;
  letter-spacing: 0;
  line-height: 12.4px;
  margin-bottom: -0.5px;
  margin-top: -4.5px;
  overflow: hidden;
  padding: 12px 16px;
  position: absolute;
  top: 449px;
  width: 321px;
}

.box .text-field-5 {
  background-color: #edf2f6;
  border: 2px solid;
  border-color: #d9d9d9;
  border-radius: 8px;
  color: #000000;
  flex: 1;
  font-family: "Manrope-Medium", Helvetica;
  font-size: 11px;
  font-weight: 500;
  height: 31px;
  left: 681px;
  letter-spacing: 0;
  line-height: 12.4px;
  margin-bottom: -0.5px;
  margin-top: -4.5px;
  overflow: hidden;
  padding: 12px 16px;
  position: absolute;
  top: 449px;
  width: 321px;
}

.horizontal-line {
  margin-top: 50px;
  height: 2px;
  background-color: #000000;
  width: 670px;
}
