.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6f7ff; /* Light blue background */
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  width: 400px;
  max-width: 90%; /* Ensures padding on small screens */
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
  color: #003366; /* Dark blue for the title */
  font-size: 24px;
}

.form-input {
  width: calc(100% - 30px); /* Full width minus padding */
  padding: 15px;
  margin-bottom: 20px; /* Reduced margin */
  border-radius: 6px;
  border: 2px solid #007bff; /* Blue border */
  font-size: 16px;
}

.signup-button {
  width: calc(100% - 30px); /* Full width minus padding */
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #0056b3;
}

.toggle-form-button {
  margin-top: 20px;
  padding: 10px;
  background-color: transparent;
  color: #007bff;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.toggle-form-button:hover {
  color: #0056b3;
}

.form-error {
  color: red;
  margin-bottom: 15px;
}
