.home4 {
  position: absolute;
  top: 1.75px;
  left: 0;
  line-height: 22.5px;
  color: black;
  font-family: Jost;
}
.vector-icon4 {
  position: relative;
  width: 6.64px;
  height: 8.43px;
}
.svg1 {
  position: absolute;
  top: 8.5px;
  left: 54.34px;
  width: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5791947841644287px 2.371983051300049px 0.5792076587677002px
    2.371983528137207px;
  box-sizing: border-box;
}
.recommendations {
  position: absolute;
  top: 0;
  left: 79px;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: black;
  font-family: Jost;
}
.breadcrumbs {
  position: absolute;
  top: 152px;
  left: 383px;
  width: 203px;
  height: 24.75px;
  color: black;
}
.welcome {
  color: #000;

  text-align: center;
  font-family: Volkhov;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 76.19% */
  text-transform: capitalize;
}
.description {
  position: absolute;
  top: 101px;
  left: 106px;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: black;
  font-family: Jost;
}
.title {
  position: absolute;
  top: 25vh;
  left: 17vw;
  width: 937px;
  height: 195px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-jost);
}
